@font-face{
font-family:"Emblema One";
src:url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
    url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.tff");
}
body{
width:1280px;
margin:0 auto;
overflow:scroll;
}
#top{
left:0;
border:0;
top:0;
width:1280px;
height:96px;
background-color:#cff;   
}/*
#bottom{
position:absolute;
width:1280px;
left:0;
top:87px;
}*/
#left{
position:absolute;
width:300px;
left:0;
}/*
#right{
position:absolute;
width:1000px;
left:213px;
}
#center_top{
position:absolute;
width:1000px;
left:213px;
top:87px;
}*/
#center_left{
position:absolute;
width:650px;
left:280px;
top:96px;
}
#center_right{
position:absolute;
width:350px;
left:930px;
top:96px;
font-family:"Emblema One", sans-serif;
}

#center_bottom{
position:absolute;
width:1000px;
left:280px;
top:700px;
}
#end{
position:absolute;
width:1280px;
left:0px;
top:1280px;
}
#s{
width:1280px;
margin:0 auto;
padding:0;
position:relative;
}
/*
#left select{
	width:100px;
	height: 30px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}*/

.input-group-addon
{
	background-color:#428bca;
	color:#FFF;
	
}
#other {
	width:150px;
	height: 30px;
}
#s{
	width:100%;
}

#left ul{
	margin:0;padding:0 
}
#left li{  
list-style-type:none; 
margin-bottom: 4px;

}  
li.item
{
	font-weight:bold;
	font-family:"Emblema One", sans-serif;
	font-size:18px;
	color:#7D9EC0;
}
#table{
    text-align:center;
	width:1000px;
}
#table td{
    font:13px "Microsoft Yahei";
    cursor:default;
	word-wrap:break-word;
}
#table th{
    text-align:center;
    background-color:#cff;

}
#table tr:hover{
    background-color:#cff;
}/*
#table tr:nth-child(2n){
background-color:#cff;
}*/
#pageb{
left:800px;
top:0;
}
.text_label{
color:black;
font-family:"Microsoft Yahei";
font-size:24px;
font-weight:bold;
}
.text{
color:black;
font-family:"Microsoft Yahei";
font-size:18px;
font-weight:bold;
}
.title
{
left:300px;
background-color:#cff;
color:#428bca;
font-weight:bold;
font-family:"Emblema One";
}
.info{
left:350px;
/*background-color:#cff;*/
font-size:18px;

}
.infom{
width:1280px;
margin:0 auto;
border:1px solid #cff;
}

#move{
position:absolute;
	width:100px;
	height:100px;
	background-color:#000;
	-webkit-transition:all 1s ease-in-out;/*分别是针对不同浏览器的差异性设置的标题头*/
	transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
}

